.container {
	margin: auto;
	width: 600px;
}

.title {
	text-align: center;
}

.flex-box {
	display: flex;
}

.message-box {
	background-color: #555555;
	margin-top: 30px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 3px;
}

.player-box {
	flex: 1;
	background-color: #999999;
	border: 2px solid black;
	border-radius: 3px;
	padding: 10px;
}

.player-name {
	display: inline-block;
	vertical-align: top;
	margin-top: 0px;
}

.green {
	background-color: #25AA6E;
}

.example-chip {
	display: inline-block;
	float: right;
	height: 48px;
	width: 48px;
	border-radius: 50%;
}

.score {
	margin-bottom: 0px;
}

.board {
	width: 360px;
	margin: auto;
	margin-top: 30px;
}

.board-row {
	display: flex;
}

.tile {
	flex: 1;
	background-color: #25AA6E;
	border: 1px solid #222222;
	height: 45px;
	margin-right: -1px;
	margin-top: -1px;
}

.is-valid {
	background-color: #58A4B0;
}

.tile.is-valid:hover {
    background-color: cyan;
}

.chip {
	width: 80%;
	height: 80%;
	margin-left: 10%;
	margin-top: 10%;
	border-radius: 50%;
}

.black {
	background-color: #222222;
}

.white {
	background-color: #E3E4E6;
	border: 1px solid #222222;
}

.pass-turn-message {
	display: inline-block;
	padding-top: 5px;
}

.pass-turn-button {
	background-color: yellow;
	margin-left: 20px;
	border: 1px solid black;
	padding: 10px;
}

.pass-turn-button:hover {
	background-color: red;
}
